* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mountainImg {
  width: 100%;
  height: 712px;
  background-image: url("	https://websitedemos.net/earth-store-02/wp-content/uploads/sites/1171/2022/10/Banner.jpg");
  background-color: rgb(255, 255, 255);
  padding: 150px 0;
  // background-position: center;
  background-repeat: no-repeat;
  // height: 200vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 60px;
      letter-spacing: 7px;
      color: #2c541d;
      margin: 0;
      font-family: "Jost", sans-serif;
    }

    h4 {
      font-size: 35px;
      letter-spacing: 4px;
      color: #050505;
      font-size: 40px;
      font-weight: 300;
      margin: 0;
      font-family: "Jost", sans-serif;
    }

    button {
      background-color: #74a84a;
      font-size: 16px;
      padding: 16px 40px;
      font-weight: 400;
      margin: 25px 0 0;
      border: none;
      color: white;
    }
  }
}

.homeCards {
  width: 100%;
  padding: 80px 45px;

  .container {
    width: 1140px;
    margin: auto;
    // background-color: red;
    .imgWrapper:hover button {
      display: block;
    }
    .imgWrapper {
      width: 353px;
      height: 353px;
      margin-bottom: 13.6px;
      position: relative;

      button {
        position: absolute;
        right: 15px;
        top: 15px;
        background-color: white;
        border-radius: 50%;
        padding: 10px 15px;
        border: none;
        display: none;
      }
      .heart {
        position: absolute;
        right: 65px;
        top: 15px;
        background-color: white;
        border-radius: 50%;
        padding: 10px 15px;
        border: none;
        display: none;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .article {
      h6 {
        font-family: "Roboto", sans-serif;
        color: grey;
        margin: 0 0 7px 0;
      }

      h4 {
        margin: 0 0 7px 0;
        font-weight: 500;
        font-family: "Jost", sans-serif;
      }

      h5 {
        font-size: 0.9em;
        margin: 0 0 0.5em 0;
        font-weight: 700;
        margin-bottom: 0.5em;
      }
    }
  }
}

.comments {
  width: 100%;
  padding: 80px 0;

  .container {
    width: 1140px;
    margin: auto;

    h1 {
      font-size: 2.4117647058824rem;
      font-weight: 500;
      font-family: "Jost", sans-serif;
      padding-bottom: 32px;
    }

    .box {
      height: 216px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;

      // FontawesomeIcon {
      //     font-family: 'font awesome 5 free';
      //     color: red;
      // }
      p {
        color: #585858;
        font-size: 17px;
        font-weight: 400;
        padding: 20px 0 20px 0;
      }

      .imgWrapper {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 20px;

        .img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      span {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: "Roboto", sans-serif;
      }
    }
  }
}

.giveTheGift {
  text-align: center;
  width: 100%;
  height: 499px;
  background-image: url("https://websitedemos.net/earth-store-02/wp-content/uploads/sites/1171/2022/10/Call-to-action.jpg");
  background-color: rgb(255, 255, 255);
  padding: 100px 0 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  h1 {
    font-size: 2.4117647059rem;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    padding-bottom: 15px;
    letter-spacing: 4.92px;
  }

  h5 {
    font-family: "Roboto", sans-serif;
    line-height: 1.7em;
    color: #788393;
    padding-bottom: 40px;
    font-family: "Roboto", sans-serif;
  }

  button {
    font-weight: 400;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
    color: white;
    padding: 13px 20px;
    background-color: #74a84a;
    border: none;
  }
}

.prefer {
  width: 100%;
  padding: 70px 0;

  .container {
    width: 1140px;
    margin: auto;

    .head {
      display: flex;
      align-items: start;
      justify-content: start;
      border-right: 1px solid grey;

      span {
        padding: 12px 16px;
        background-color: #2c541d;
        border-radius: 50%;
        margin-right: 15px;
      }

      .article {
        h4 {
          letter-spacing: 2px;
          font-weight: 500;
          font-family: "Jost", sans-serif;
          padding-bottom: 8px;
        }

        h3 {
          font-size: 14px;
          line-height: 1.4em;
          font-style: inherit;
          font-weight: inherit;
        }
      }
    }

    .excellent {
      border: none;
    }
  }
}

.footer {
  width: 100%;

  .bigContainer {
    width: 1180px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        padding-right: 12px;
        font-weight: inherit;
      }
    }

    h1 {
      font-size: 100%;
      font-style: inherit;
      font-weight: 800;
    }

    h5 {
      font-size: 100%;
      font-style: inherit;
      font-weight: inherit;
    }
  }
}

// @media screen and (max-width: 540px) {
// .homeCards {
//     .Grid {
//         item xs={1}
//     }
// }
// }
